.cartItemContainer {
    height: 200px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    margin-bottom: 20px;
    margin-left: 20px;
}

.img {
    height: 200px;
    width: 300px;
}

.itemQuantityContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.itemQuantity {
    margin: 0 15px;
    font-size: 16px;
}

@media screen and(max-width: 790px) {
    .itemQuantityContainer {
        flex-direction: column;
    }
}
